body {
  background-color: darkgray;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: xxx-large;
  margin: 20px;
}

.user-input {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.dropdown,
#get-team-btn {
  padding: 10px;
  margin: 0 10px 0 10px;
  width: 200px;
}

.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player {
  background-color: darkorange;
  padding: 10px;
  margin: 20px;
  display: inline-block;
}

.player > p {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-family: fantasy;
  font-variant: small-caps;
}

.img-container > img {
  margin: auto;
  display: flex;
  width: 200px;
  height: 170px;
  object-fit: cover;
}

.img-container {
  background-color: darkgrey;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
